<!DOCTYPE html>
<section class="home">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <search-tool on-search-change="$changeSearch($event)"></search-tool>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <account-table accounts="$ctrl.accounts"></account-table>
      </div>
      <div class="col-md-12 col-sm-12">
        <result-counter first-result="$ctrl.firstItemDisplayed" last-result="$ctrl.lastItemDisplayed" total="$ctrl.totalSize"></result-counter>
        <paginator class="paginator" pages="$ctrl.totalPages" on-change-page="$ctrl.changePage($event)"></paginator>
      </div>
    </div>
  </div>
</section>
