@import "~common/common";

.searchTool {
  background-color: $lightBgColor;

  .stylish-input-group .input-group-addon{
    background: white !important;
  }
  .stylish-input-group .form-control{
  	border-right:0;
  	box-shadow:0 0 0;
  	border-color:#ccc;
  }
  .stylish-input-group button{
      border:0;
      background:transparent;
  }
  .btn-info{
     background-color: #5bc0de !important;
  }
  .page-select{
    max-width: 100px;
    float: right;
    margin-right: 15px;
  }
  .advanced{
    margin-top: 10px;
    min-height: 50px;
    background-color: #5bc0de !important;
    padding: 10px;
  }
  .label {
    margin-right: 10px;
    font-size: 20px;
  }
}
